<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eibar Ikasleak - Main Page - Zerrenda</title>
  </head>
</html>
<link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.min.css"> 
</head> 
<body>    
    <div class="page-header">        
        <h1>
            <a href="/">Notak - Zerrenda</a>
        </h1>    
        
    </div>    
    <div class="content container"> 
        <div class="row">    
            <div class="col-md-8">                
                <h1>Ikasgai berria</h1>
                <form method="POST" class="post-form">
                    {% csrf_token %} {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Gordeeee</button>
                </form>        
            </div>        
        </div>    
    </div> 
</body> 
</html>
